/**
 * Variables & Mixins
 */

$default-color: #3e3d3f;
$higlight-color: #005175;
$m_highlight-color: #006ea0;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

@mixin title-line() {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #cacaca;
}

@mixin input-text-default() {
    height: 45px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 20px;
    font-size: 16px;

    &:focus {
        border-color: $default-color;
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    }
}

@mixin label-default() {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
}

/**
 * Global Settings
 */

* {
    font-family: "Open Sans", sans-serif;
    font-stretch: normal;
    color: $default-color;
    outline: 0;
    box-sizing: border-box;
    letter-spacing: 0.3px;
}

/**
 * Layout Style
 */

.wrapper-page {
    @include flex-center;

    &__wrapper-util {
        width: 900px;
        padding: 10px 30px;
    }

    &__title {
        @include title-line;
        letter-spacing: 0.5px;
        font-size: 20px;
        color: $higlight-color;
        font-weight: 1;
    }

    &__main {
        margin: 25px 40px;
    }
}

.calculator {
    width: 470px;
    height: 522px;
    padding: 34px 40px 40px 40px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);

    &__title {
        @include title-line;
        border-color: #cfcfcf;
        font-weight: 1;
        margin-bottom: 35px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
    }
    &__wrapper-input {
        display: flex;
    }
    &__label {
        @include label-default;
    }
}

.interest-row,
.mortgage-row {
    span {
        opacity: 0.7;
        width: 40px;
    }
    &__wrapper-input {
        @include flex-center;
    }
    &__value {
        @include input-text-default;
        width: 70px;
        margin-left: 15px;
    }
    .rangeInterest,
    .rangeMortgage {
        flex: 1;
    }
    &__leftBullet {
        text-align: left;
    }

    &__rightBullet {
        text-align: right;
    }
}

.annual-row,
.loan-row {
    &__wrapper-input {
        position: relative;
        .mask-cash {
            position: absolute;
            top: 20px;
            left: 20px;
            font-weight: bold;
        }
    }
    &__value {
        @include input-text-default;
        margin: 5px 0;
        width: 100%;
        padding-left: 35px;
    }
}

.annual-row {
    flex-direction: row;

    &__col1 {
        flex: 1;
        margin-right: 10px;
    }

    &__col2 {
        flex: 1;
        margin-left: 10px;
    }
}



/**
*   Range Decorator
*/
$track-w: 12.5em;
$track-h: 0.6em;
$thumb-d: 1.8em;
$track-c: #d8d8d8;
$filll-c: #1091cc;

@mixin track($fill: 0) {
    border: none;
    height: $track-h;
    background: $track-c;
    border-radius: 20px;

    @if $fill == 1 {
        .js & {
            background: linear-gradient($filll-c, $filll-c)
                0 /
                var(--sx)
                100%
                no-repeat
                $track-c;
        }
    }
}

@mixin fill() {
    height: $track-h;
    background: $filll-c;
    border-radius: 20px;
}

@mixin thumb() {
    border: none;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    background: #fff !important;
    box-shadow: 0 1px 2px 0 #ccc;
}

[type="range"] {
    &,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(0.5 *#{$thumb-d} + var(--ratio) * (100% - #{$thumb-d}));
    margin: 0;
    padding: 0;
    width: $track-w;
    height: $thumb-d;

    &::-webkit-slider-runnable-track {
        border-radius: 20px;
        @include track(1);
    }
    &::-moz-range-track {
        @include track;
    }
    &::-ms-track {
        @include track;
    }

    &::-moz-range-progress {
        @include fill;
    }
    &::-ms-fill-lower {
        @include fill;
    }

    &::-webkit-slider-thumb {
        @include thumb;
    }
    &::-moz-range-thumb {
        @include thumb;
    }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb;
    }

    &::-ms-tooltip {
        display: none;
    }
}
