/**
 * Variables & Mixins
 */

$default-color: #3e3d3f;
$higlight-color: #005175;
$highlight-color2: #006ea0;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

@mixin title-line() {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #cacaca;
}

@mixin input-text-default() {
    height: 45px;
    border-radius: 4px;
    border: 1px solid #cacaca;
    padding: 20px;
    font-size: 16px;

    &:focus {
        border-color: $default-color;
        box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    }
}

@mixin label-default() {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}

@mixin flex-center() {
    display: flex;
    align-items: center;
}

/**
 * Global Settings
 */

* {
    font-family: "Open Sans", sans-serif;
    font-stretch: normal;
    color: $default-color;
    outline: 0;
    box-sizing: border-box;
    letter-spacing: 0.3px;
}

/**
 * Layout Style
 */

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 50px;
    top: 0;
    padding: 10px;
    background: #fff;
    z-index: 2;

    &__hamburguer-button {
        cursor: pointer;
    }
}

.wrapper-page {
    @include flex-center;
    justify-content: center;
    margin-top: 45px;

    &__wrapper-util {
        position: relative;
        width: 900px;
        padding: 23px 30px;
        min-width: 320px;
    }

    &__title {
        @include title-line;
        letter-spacing: 0.5px;
        font-size: 20px;
        color: $higlight-color;
        font-weight: 1;
    }

    &__main {
        margin: 25px 40px;
        display: flex;
        align-items: center;
        z-index: 0;
    }
}

.result {
    width: 298px;
    height: 440px;
    background-color: #eaf6fa;
    padding: 35px 45px;

    &__title {
        font-size: 22px;
        font-weight: 1;
        margin-bottom: 29px;
        line-height: 1.36;
    }

    &__row {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    &__topic {
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: normal;
    }

    &__value {
        opacity: 0.2;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.67;
    }

    .final-value {
        border-top: 1px solid #cbcbcb;
        padding: 15px 0;

        .result__topic {
            line-height: 1.67;
            font-size: 18px;
            letter-spacing: normal;
        }
        .result__value {
            line-height: 1.36;
            font-size: 24px;
            letter-spacing: normal;
        }
    }
}

.calculator {
    width: 470px;
    padding: 34px 40px 40px 40px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    z-index: 1;

    &__title {
        @include title-line;
        border-color: #cfcfcf;
        font-weight: 1;
        margin-bottom: 35px;
        letter-spacing: 0.2;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
    }
    &__wrapper-input {
        display: flex;
    }
    &__label {
        @include label-default;
    }
    &__button {
        height: 45px;
        background-color: #006ea0;
        color: #fff;
        border: 0;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 1px;

        &:active {
            @keyframes animation {
                0% {
                    background-color: $highlight-color2;
                }
                100% {
                    background-color: rgb(16, 104, 158);
                }
            }
            animation: animation 0.5s;
        }
    }

    &__error-msg {
        color: red;
        font-weight: bold;
        display: none;
    }

    span.is-invalid {
        display: block;
        width: 100%;
        font-size: 12px;
    }

    input.is-invalid {
        border: 1px solid red;
    }
}

.interest-row,
.mortgage-row {
    span {
        opacity: 0.7;
        width: 40px;
    }
    &__wrapper-input {
        @include flex-center;
        align-items: center;
    }
    &__value {
        @include input-text-default;
        width: 70px;
        margin-left: 15px;
    }
    .rangeInterest,
    .rangeMortgage {
        flex: 1;
    }
    &__leftBullet {
        text-align: left;
    }

    &__rightBullet {
        text-align: right;
    }
}

.annual-row,
.loan-row {
    &__wrapper-input {
        position: relative;
        .mask-cash {
            position: absolute;
            top: 20px;
            left: 20px;
            font-weight: bold;
            font-size: 16px;
        }
    }
    &__value {
        @include input-text-default;
        margin: 5px 0;
        width: 100%;
        padding-left: 35px;
    }
}

.annual-row {
    flex-direction: row;

    &__col1 {
        flex: 1;
        margin-right: 10px;
    }

    &__col2 {
        flex: 1;
        margin-left: 10px;
    }
}

.hamburguer-menu {
    background: #08517c;
    opacity: 0.9;
    position: fixed;
    top: 0;
    right: -210px;
    height: 100%;
    z-index: 2;
    padding: 15px;
    transition: right 0.3s linear;

    &--is-open {
        right: 0;
    }

    &--is-close {
        right: -300px;
    }

    &__close {
        color: #fff;
        cursor: pointer;
        font-weight: bold;
        font-size: 13px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 50px;
    }

    a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 0.3px;
        font-size: 13px;
        text-transform: uppercase;
        padding: 15px;
        font-weight: bold;
        display: block;
        border-bottom: 1px solid #2e76c6;

        &:active {
            color: #1091cc;
        }
    }
}

/**
*   Range Decorator
*/
$track-w: 12.5em;
$track-h: 0.6em;
$thumb-d: 1.8em;
$track-c: #d8d8d8;
$filll-c: #1091cc;

//Styling the track whereas will be aplied in all -nav-
@mixin track($fill: 0) {
    border: none;
    height: $track-h;
    background: $track-c;
    border-radius: 20px;
    @if $fill == 1 {
        .js & {
            background: linear-gradient($filll-c, $filll-c)
                0 /
                var(--sx)
                100%
                no-repeat
                $track-c;
        }
    }
}

//Styling the track filled whereas will be aplied in all -nav-
@mixin fill() {
    height: $track-h;
    background: $filll-c;
    border-radius: 20px;
}

//Styling bullet of track whereas will be aplied in all -nav-
@mixin thumb() {
    border: none;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50%;
    background: #fff !important;
    box-shadow: 0 1px 2px 0 #ccc;
    cursor: pointer;
}

[type="range"] {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min)) / var(--range));
    --sx: calc(0.5 *#{$thumb-d} + var(--ratio) * (100% - #{$thumb-d}));
    margin: 0;
    padding: 0;
    width: $track-w;
    height: $thumb-d;

    &,
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    &::-webkit-slider-thumb {
        margin-top: -10px;
    }
    &::-webkit-slider-runnable-track {
        border-radius: 20px;
        @include track(1);
    }
    &::-moz-range-track {
        @include track;
    }
    &::-ms-track {
        @include track;
    }
    &::-moz-range-progress {
        @include fill;
    }
    &::-ms-fill-lower {
        @include fill;
    }
    &::-webkit-slider-thumb {
        @include thumb;
    }
    &::-moz-range-thumb {
        @include thumb;
    }
    &::-ms-thumb {
        margin-top: 0;
        @include thumb;
    }
    &::-ms-tooltip {
        display: none;
    }
}
