/**
 * Breakpoint max-width: 900px (the width of the screen providec)
 */

/**
 * Layout Style
 */
.wrapper-page {
    &__wrapper-util {
        padding: 10px;
    }
    &__main {
        margin: 20px 0px;
        flex-wrap: wrap;
    }
}

.calculator {
    width: 100%;
    padding: 15px 20px 20px 20px;

    &--is-clean {
        display: none;
    }

    &__title {
        font-size: 12px;
        padding: 6px 0 6px 0;
        margin-bottom: 15px;
    }
    &__label {
        font-size: 12px;
    }

    &__row {
        font-size: 12px;
        span {
            opacity: 1;
            width: 25px;
        }
    }

    &__button {
        font-size: 14px;
        height: 40px;
    }
}

.interest-row,
.mortgage-row {
    &__value {
        width: 50px;
        margin-left: 10px;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        height: 40px;
    }
}
.annual-row,
.loan-row {
    &__value {
        font-size: 14px;
        height: 40px;
    }
}
.result {
    padding: 20px 20px 10px 20px;
    width: 100%;
    height: 100%;

    &__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__topic {
        font-size: 12px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #b2b2b2;
        padding: 0;
        margin: 0;
        padding: 11px 0;
    }

    &__value {
        opacity: 1;
        font-size: 14px;
        color: #3e3d3f;
    }

    .final-value {
        border: none;

        .result__topic {
            font-size: 12px;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
        }
        .result__value {
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                sans-serif;
            font-size: 18px;
            color: #3e3d3f;
            opacity: 1;
        }
    }
}
