/**
 * Breakpoint max-width: 900px (the width of the screen providec)
 */


/**
 * Layout Style
 */
 .wrapper-page {

    &__wrapper-util {
        padding: 10px;
    }
    &__main {
        margin: 20px 0px;
        flex-wrap: wrap;
    }
 }


.calculator {
    width: 100%;
    padding: 15px 20px 20px 20px;

    &__title {
        font-size: 12px;
        padding: 6px 0 6px 0;
        margin-bottom: 15px;
    }
    &__label {
        font-size: 12px;
    }

    &__row {
        font-size: 12px;
        span {
            opacity: 1;
            width: 25px;
        }
    }

    &__button {
        font-size: 14px;
        height: 40px;
    }
}

.interest-row,
.mortgage-row {
    &__value {
        width: 50px;
        margin-left: 10px;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        height: 40px;
    }
}
.annual-row,
.loan-row {
    &__value {
        font-size: 14px;
        height: 40px;
    }
}
.result {
    width: 100%;
}
