/**
 * Variables & Mixins
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/**
 * Global Settings
 */
* {
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  color: #3e3d3f;
  outline: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

/**
 * Layout Style
 */
.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 50px;
  top: 0;
  padding: 10px;
  background: #fff;
  z-index: 2;
}
.nav__hamburguer-button {
  cursor: pointer;
}

.wrapper-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.wrapper-page__wrapper-util {
  position: relative;
  width: 900px;
  padding: 23px 30px;
  min-width: 320px;
}
.wrapper-page__title {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #cacaca;
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #005175;
  font-weight: 1;
}
.wrapper-page__main {
  margin: 25px 40px;
  display: flex;
  align-items: center;
  z-index: 0;
}

.result {
  width: 298px;
  height: 440px;
  background-color: #eaf6fa;
  padding: 35px 45px;
}
.result__title {
  font-size: 22px;
  font-weight: 1;
  margin-bottom: 29px;
  line-height: 1.36;
}
.result__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.result__topic {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: normal;
}
.result__value {
  opacity: 0.2;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
}
.result .final-value {
  border-top: 1px solid #cbcbcb;
  padding: 15px 0;
}
.result .final-value .result__topic {
  line-height: 1.67;
  font-size: 18px;
  letter-spacing: normal;
}
.result .final-value .result__value {
  line-height: 1.36;
  font-size: 24px;
  letter-spacing: normal;
}

.calculator {
  width: 470px;
  padding: 34px 40px 40px 40px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.calculator__title {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #cacaca;
  border-color: #cfcfcf;
  font-weight: 1;
  margin-bottom: 35px;
  letter-spacing: 0.2;
}
.calculator__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.calculator__wrapper-input {
  display: flex;
}
.calculator__label {
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}
.calculator__button {
  height: 45px;
  background-color: #006ea0;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}
.calculator__button:active {
  animation: animation 0.5s;
}
@keyframes animation {
  0% {
    background-color: #006ea0;
  }
  100% {
    background-color: #10689e;
  }
}

.interest-row span,
.mortgage-row span {
  opacity: 0.7;
  width: 40px;
}
.interest-row__wrapper-input,
.mortgage-row__wrapper-input {
  display: flex;
  align-items: center;
  align-items: center;
}
.interest-row__value,
.mortgage-row__value {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  padding: 20px;
  font-size: 16px;
  width: 70px;
  margin-left: 15px;
}
.interest-row__value:focus,
.mortgage-row__value:focus {
  border-color: #3e3d3f;
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
}
.interest-row .rangeInterest,
.interest-row .rangeMortgage,
.mortgage-row .rangeInterest,
.mortgage-row .rangeMortgage {
  flex: 1;
}
.interest-row__leftBullet,
.mortgage-row__leftBullet {
  text-align: left;
}
.interest-row__rightBullet,
.mortgage-row__rightBullet {
  text-align: right;
}

.annual-row__wrapper-input,
.loan-row__wrapper-input {
  position: relative;
}
.annual-row__wrapper-input .mask-cash,
.loan-row__wrapper-input .mask-cash {
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 16px;
}
.annual-row__value,
.loan-row__value {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  padding: 20px;
  font-size: 16px;
  margin: 5px 0;
  width: 100%;
  padding-left: 35px;
}
.annual-row__value:focus,
.loan-row__value:focus {
  border-color: #3e3d3f;
  box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
}

.annual-row {
  flex-direction: row;
}
.annual-row__col1 {
  flex: 1;
  margin-right: 10px;
}
.annual-row__col2 {
  flex: 1;
  margin-left: 10px;
}

.hamburguer-menu {
  background: #08517c;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: -210px;
  height: 100%;
  z-index: 2;
  padding: 15px;
  transition: right 0.3s linear;
}
.hamburguer-menu--is-open {
  right: 0;
}
.hamburguer-menu--is-close {
  right: -300px;
}
.hamburguer-menu__close {
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.hamburguer-menu a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.3px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 15px;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #2e76c6;
}
.hamburguer-menu a:active {
  color: #1091cc;
}

/**
*   Range Decorator
*/
[type=range] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(0.5 *1.8em + var(--ratio) * (100% - 1.8em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.8em;
}
[type=range], [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type=range]::-webkit-slider-thumb {
  margin-top: -10px;
}
[type=range]::-webkit-slider-runnable-track {
  border-radius: 20px;
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
.js [type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(#1091cc, #1091cc) 0/var(--sx) 100% no-repeat #d8d8d8;
}
[type=range]::-moz-range-track {
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
[type=range]::-ms-track {
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
[type=range]::-moz-range-progress {
  height: 0.6em;
  background: #1091cc;
  border-radius: 20px;
}
[type=range]::-ms-fill-lower {
  height: 0.6em;
  background: #1091cc;
  border-radius: 20px;
}
[type=range]::-webkit-slider-thumb {
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
  cursor: pointer;
}
[type=range]::-moz-range-thumb {
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
  cursor: pointer;
}
[type=range]::-ms-thumb {
  margin-top: 0;
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
  cursor: pointer;
}
[type=range]::-ms-tooltip {
  display: none;
}

/*# sourceMappingURL=output.css.map */
