/**
 * Variables
 */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.title-line, .calculator__title, .wrapper-page__title {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #cacaca;
}

.input-text-default, .mortgage-row__value {
  height: 45px;
  border-radius: 4px;
  border: 1px solid #cacaca;
  padding: 20px;
  font-size: 16px;
}

.label-default, .mortgage-row__label {
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
}

.flex-center, .mortgage-row__wrapper-input, .wrapper-page {
  display: flex;
  align-items: center;
}

/**
 * Global Settings
 */
* {
  font-family: "Open Sans", sans-serif;
  font-stretch: normal;
  color: #3e3d3f;
  outline: 0;
  box-sizing: border-box;
  letter-spacing: 0.3px;
}

/**
 * Layout Style
 */
.wrapper-page__wrapper-util {
  width: 900px;
  padding: 10px 30px;
}
.wrapper-page__title {
  letter-spacing: 0.5px;
  font-size: 20px;
  color: #005175;
  font-weight: 1;
}
.wrapper-page__main {
  margin: 25px 40px;
}

.calculator {
  width: 470px;
  height: 522px;
  padding: 34px 40px 40px 40px;
  border-radius: 4px;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
}
.calculator__title {
  border-color: #cfcfcf;
  font-weight: 1;
}
.calculator__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 35px;
}
.calculator__wrapper-input {
  display: flex;
}

.mortgage-row__value {
  width: 70px;
  margin-left: 15px;
}
.mortgage-row .rangeMortgage1,
.mortgage-row .rangeMortgage {
  flex: 1;
}
.mortgage-row .rangeMortgage1__leftBullet,
.mortgage-row .rangeMortgage__leftBullet {
  text-align: left;
}
.mortgage-row .rangeMortgage1__rightBullet,
.mortgage-row .rangeMortgage__rightBullet {
  text-align: right;
}
.mortgage-row span {
  opacity: 0.8;
  width: 40px;
  text-align: left;
}

/**
*   Range Decorator
*/
[type=range] {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(0.5 *1.8em + var(--ratio) * (100% - 1.8em));
  margin: 0;
  padding: 0;
  width: 12.5em;
  height: 1.8em;
}
[type=range], [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
[type=range]::-webkit-slider-runnable-track {
  border-radius: 20px;
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
.js [type=range]::-webkit-slider-runnable-track {
  background: linear-gradient(#1091cc, #1091cc) 0/var(--sx) 100% no-repeat #d8d8d8;
}
[type=range]::-moz-range-track {
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
[type=range]::-ms-track {
  border: none;
  height: 0.6em;
  background: #d8d8d8;
  border-radius: 20px;
}
[type=range]::-moz-range-progress {
  height: 0.6em;
  background: #1091cc;
  border-radius: 20px;
}
[type=range]::-ms-fill-lower {
  height: 0.6em;
  background: #1091cc;
  border-radius: 20px;
}
[type=range]::-webkit-slider-thumb {
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
}
[type=range]::-moz-range-thumb {
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
}
[type=range]::-ms-thumb {
  margin-top: 0;
  border: none;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50%;
  background: #fff !important;
  box-shadow: 0 1px 2px 0 #ccc;
}
[type=range]::-ms-tooltip {
  display: none;
}

/*# sourceMappingURL=output.css.map */
